<nav class="top-nav">
  <button class="js-toggle-hidden"><i class="material-icons">add</i></button>
</nav>
<div class="header-form">
<h1 class="header">Image Board</h1>

<form class="content hidden">
  <div class="form-div">
    <ul class="input-form">
    <li class="li-form"><input placeholder="Image Url" class="url" name="image"></li>
    <li class="li-form"><input placeholder="Image Caption" class="caption" name="post"></li>
    <button class="js-cancel">Cancel</button>
    <button class="js-add-image">Add Image</button>
  </ul>
</div>
</form>
</div>
