<div class="create-div">
  <input placeholder="Image Url" class="url">
  <input placeholder="Image Caption" class="caption">
  <button class="js-cancel">Cancel</button>
  <button class="js-add-image">Add Image</button>
</div>
