
<img src="{{image}}" alt="" class="images">
<h1 class="image" style="display: none">{{image}}</h1>
<h4 class="post">{{post}}</h4>

<button class="delete-btn">X</button>
<button class="edit-btn">Edit</button>
<button class="update-btn">Update</button>
<button class="cancel-btn">Cancel</button>
